@import './entry.css';

:root {
  --text-normal: #333333;
  --text-gray: #696969;
  --secondary-text-color: #696969;
  --background-color: #f0f0f0;
  --foreground-color: #ebebeb;
  /*--background-color: #ebebeb;*/
  /*--foreground-color: #f0f0f0;*/
  --primary-color: #0051e7;
  --income: #006513;
  --expense: #960000;
  --error: #Ff4336;
  --light-border: #dadce0;
  --text-font-size: 1rem;
  --warning: #BD6500;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-normal);
}

body {
  background-color: var(--background-color);
  margin: 0;
}

#app{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

h4{
  font-weight:200;
}

h3 {
  font-weight: 200;
  font-size: 1.25rem;
}

h2 {
  font-weight: 250;
}

h1 {
  font-weight: 500;
}

.button-main {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.375rem;
  cursor: pointer;
  border: var(--primary-color) 1px solid;
  box-sizing: border-box;
}

.button-plain {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-text {
  font-size: 0.75rem;
}

.outlined-button {
  all: unset;
  cursor: pointer;
  border: solid 2px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 0.375rem;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-text-color {
  color: var(--secondary-text-color)
}


.red-color {
  color: var(--expense);
}

.green-color {
  color: var(--income);
}

.orange-color {
  color: var(--warning);
}

.inline-block{
  display:inline-block;
}

.font-1rem{
  font-size:1rem;
}

.font-125rem{
  font-size: 1.25rem;
}

.padding-075rem{
  padding: 0.75rem;
}

.padding-1rem{
  padding:1rem;
}

.secondary-button{
  border: solid 1px var(--secondary-text-color);
  background-color: transparent;
  border-radius: 0.375rem;
  cursor: pointer;
  box-sizing: border-box;
}

ul.base-ul {
  margin:0;
  padding-left: 0;
  list-style: none;
}

ul.flex-ul {
  display:flex;
  flex-direction:column;
  gap:1rem;
}

ul.ul-margin li {
  margin-bottom:0.5rem;
}

ul.ul-margin li:last-child {
  margin-bottom: 0;
}

.margin-0{
  margin:0;
}