:root {
  --text-normal: #333333;
  --text-gray: #696969;
  --secondary-text-color: #696969;
  --background-color: #f0f0f0;
  --foreground-color: #ebebeb;
  /*--background-color: #ebebeb;*/
  /*--foreground-color: #f0f0f0;*/
  --primary-color: #0051e7;
  --income: #006513;
  --expense: #960000;
  --light-border: #dadce0;
  --text-font-size: 1rem;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-normal);
}

body {
  background-color: var(--background-color);
  margin: 0;
}

h3 {
  font-weight: 200;
  font-size: 1.25rem;
}

h2 {
  font-weight: 250;
}

h1 {
  font-weight: 500;
}

.button-main {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 0;
  cursor: pointer;
}

.button-plain {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
