:root {
    --text-color: #333333;
    --secondary-text-color: #696969;
    --background-color: #F0F0F0;
    --foreground-color: #EBEBEB;
    --primary-color: #0051E7;
    --income: #006513;
    --expense: #960000;
}